In [1]:
l = [1,2,3,4,'prince','francis',45.99]

In [2]:
for i in l:
    print(i)

1
2
3
4
prince
francis
45.99

In [3]:
for i in l:
    print("prince")

prince
prince
prince
prince
prince
prince
prince

In [5]:
for i in l:

SyntaxError: incomplete input (239044884.py, line 1)

In [6]:
for i in l:
    pass

In [7]:
p = "prince"

In [8]:
for i in p:
    print(i)

p
r
i
n
c
e

In [9]:
for i in l:
    print(i)
else:
    print("after the loop will get executed it will come to else")

1
2
3
4
prince
francis
45.99
after the loop will get executed it will come to else

In [10]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("else will be executed after the for loop")

1
2
3

In [11]:
p = "prince"
for i in p:
    if i=='n':
        break
    print(i)
else:
    print("print string",s)

p
r
i

In [12]:
p ='prince'
for i in p:
    if i=='s':
        break
    print(i)
else:
    print("print string",p)

p
r
i
n
c
e
print string prince

In [13]:
t = (4,5,6,8,'prince')

In [14]:
for i in t:
    print(i)

4
5
6
8
prince

In [15]:
b={4,5,6,7,7,7,7,7,7,8,'sudh'}

In [17]:
type(b)

set

In [18]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [19]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [20]:
d= {'key1':'prince' , 'contact':'prince.francis64','position': 'xyz'}

In [21]:
for i in d:
    print(i)

key1
contact
position

In [22]:
d['key1']

'prince'

In [23]:
for i in d:
    print(i,'-',d[i])

key1 - prince
contact - prince.francis64
position - xyz

In [24]:
p ='prince'

In [25]:
range(9)

range(0, 9)

In [26]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [28]:
range(0,9)

range(0, 9)

In [29]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [31]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [32]:
for i in range(4):
    for j in range(0,i+1):
        print("prince",end=' ')
    print('\n')

prince

prince prince

prince prince prince

prince prince prince prince

In [34]:
n = 3
k = 3
for i in range(n):
    k = k-1
    print(' '*k, end=' ')
    for j in range(i+1):
        print('prince',end = ' t= (3,23,45,67,2,4,5,6)')
    print()

   prince
  prince prince
 prince prince prince

In [35]:
t= (3,23,45,67,2,4,5,6)

In [36]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [37]:
s = 'iNeuron'

In [38]:
for i in range(len(s)):
    print(i,s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [39]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6]

In [40]:
for i in range(len(s),0,-1):
    i = i-1
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [41]:
d

{'key1': 'prince', 'contact': 'prince.francis64', 'position': 'xyz'}

In [42]:
d.items()

dict_items([('key1', 'prince'), ('contact', 'prince.francis64'), ('position', 'xyz')])

In [43]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'prince') <class 'tuple'> <class 'str'>
('contact', 'prince.francis64') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [44]:
l=['prince','francis',3236565,'prince.francis64@gmail.com',345,656546]

In [45]:
l1= []

In [46]:
for i in l:
    if type(i)==int:
        l1.append(i)

In [47]:
l1

[3236565, 345, 656546]

In [48]:
d= {1: 64646 , 'name':'prince' , 'email' : 'prince.francis64@gmail.com', 234:'jlkjlkj', '43':'lkjlkj',234:'6566'}

In [49]:
for i in d.keys():
    if type(i)==int:
        print(i,':',d[i])

1 : 64646
234 : 6566

In [50]:
for i in d:
    print(i)

1
name
email
234
43

In [51]:
s='aaaabbccd'

In [58]:
for i in set(s):
    print(i,'-',s.count(i))

b - 2
d - 1
a - 4
c - 2

In [60]:
s.count('a')

4

In [61]:
i= 4654645465

In [67]:
for j in str(i):
    print(j,type(int(j)))

4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>

In [68]:
t=('prince', 'francis', [1,2,3,4,5] , (3,4,5,6) , {3:3,'key2':'francis'})

In [72]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    elif type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k,v)

3
3
3 3

In [73]:
d={4:5 , 'key1':'prince', 'key2':'francis'}

In [75]:
for i in d:
    print(i,d[i])

4 5
key1 prince
key2 francis

In [76]:
for k,v in d.items():
    print(k,v)

4 5
key1 prince
key2 francis

In [77]:
a,b,c = (10,20,30)

In [78]:
a

10

In [79]:
b

20

In [80]:
c

30