In [1]:
a = 10
if a==11:
    print("this is my first condition")

In [2]:
a = 10
if a>5:
    pass

In [3]:
a = 10
if a>8:
    print("print this if condition is true")

print this if condition is true

In [4]:
a = 10
if a<8:
    print("print this if condition is true")

In [5]:
a = 10
if a==11:
    print("my condition is false")
else:
    print("print this")

print this

In [6]:
a = 10
if a==12:
    print("here we are trying to compare 10 with 12")
elif a==11:
    print("here we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [8]:
price = 500
if price>500:
    print("may be i won't be able to buy a jacket")
elif price<500:
    print("maybe i will be able to buy the jacket")
elif price==500:
    print("for sure i will be able to buy")
else:
    print("i don't know")

for sure i will be able to buy

In [9]:
price>500

False

In [10]:
price<500

False

In [11]:
price==500

True

In [12]:
l=[1,2,3,4,5,6]

In [13]:
2 in l

True

In [14]:
if 2 in l:
    print("do not perform a task")
else:
    print("do not perform this task")

do not perform a task

In [15]:
60 in l

False

In [16]:
l

[1, 2, 3, 4, 5, 6]

In [18]:
if 1 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")

try to do addition

In [19]:
if 10 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")
if 4 in l:
    print("this is a new statement")

try to do subtraction
this is a new statement

In [20]:
a = 400

In [21]:
b =int(input())

400

In [22]:
type(b)

int

In [23]:
c = int(input())
if c<500:
    print("i will be able to buy something")
    if c<400:
        print("I will be able to buy a jacket")
    elif c<300:
        print("i will be able to buy a shirt")
        if c<200:
            print("you are on the right path")
    else:
        print("i won't be abel to buy anything")
else:
    print("i won't be able to buy anything")

188
i will be able to buy something
I will be able to buy a jacket

In [24]:
c = int(input())
if c<500:
    print("i will be able to buy something")
    if c<400:
        print("i will be able to buy a jacket")
    elif c<300:
        print("i will be able to buy  a shirt")
        if c<200:
            print("you are on the right path")
    else:
        print("i won't by able to buy anything")
else:
    print("i won't be able to buy anything with this price tag")
    if c>500:
        print("let's try something else")

499
i will be able to buy something
i won't by able to buy anything

In [26]:
marks = int(input())
if marks>600:
    print("admission into GRE")
else:
    print("no GRE")
    if marks <500 and marks>=400:
        print("TOFEL")
    elif marks<400:
        print("try something else")

450
no GRE
TOFEL

In [29]:
val = float(input("enter a number="))
if val>=0:
    if val==0:
        print("entered value is zero")
    else:
        print("entered value is positive")
else:
    print("the number is negative")

enter a number=-5
the number is negative

In [30]:
a = 10
if a<10 or a ==10:
    print("try to do something")

try to do something

In [31]:
a= "prince"
if a=="prince" or a=="Prince":
    print("this is my name")

this is my name

In [32]:
a = 10
b = 11
c = 12
d = 13
if a==9 and b==11 and c==12 and d==13:
    print("let's do something")

In [33]:
d = {"key1" : "value" , "key2" : "prince" , "key3" : "iNeuron"}

In [35]:
if d["key1"]=="value" and d["key2"]=="prince" and d["key3"]=="iNeuron":
    print("all the values are verified")
    print(d.values())

all the values are verified
dict_values(['value', 'prince', 'iNeuron'])

In [36]:
l = [1,2,3,4,5,"prince", 234.65]

In [37]:
for i in l:
    print(i)

1
2
3
4
5
prince
234.65

In [38]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [41]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+str(1))
    else:
        print(i+1)

2
3
4
5
6
prince1
235.65

In [42]:
l

[1, 2, 3, 4, 5, 'prince', 234.65]

In [43]:
l1=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)

In [44]:
l1

[1, 2, 3, 4, 5, 234.65]